.anima {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    align-items: center;
    height: 100vh;
    // overflow: hidden;
    margin: 0;
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 80px;
    padding: 20px;
    border-radius: 3px;
}

nav.active {
    width: 350px;
}


