.anima {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%);

}


