.anim-body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.anim-container {
    display: flex;
    width: 90vw;
}