.water-body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // text-align: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: #3494e4;
  color: #fff;
}

.water-wrapper {
  text-align: center;
}