:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

.water-body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // text-align: center;
  align-items: center;
  // height: 100vh;
  // overflow: hidden;
  margin-bottom: 40px;
  background-color: #3494e4;
  color: #fff;
}

.water-wrapper {
  text-align: center;
}

.water__title {
  margin: 10px 0 0;
}

.water__subtitle {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 330px;
  background-color: #fff;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  margin: 30px auto;
  overflow: hidden;
  // margin: 30px 0;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
}

.cup.cup-small {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  width: 50px;
  height: 95px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255,255, 0.9);
  cursor: pointer;
  margin: 5px;
  transition: 0.3s ease;
}

.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}

.remainded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remainded span {
  font-size: 20px;
  font-weight: bold;
}

.remainded small {
  font-size: 12px;
}

.percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fill-color);
  font-size: 30px;
  font-weight: bold;
  height: 0;
  transition: 0.3s ease;
}

.text {
  text-align: center;
  margin: 0 0 5px;
}