.wave-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #fff;
    background-color: steelblue;
}

.wave-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem 4rem;
    border-radius: 0.5rem;
}

.wave-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.wave-container a {
    color: lightblue;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-3rem);
}

.wave-btn {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-style: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.wave-btn:focus {
    outline: 0;
}

.wave-btn:active {
    transform: scale(0.98);
}

.wave-text {
    margin-top: 30px;
}

